@font-face {
    font-family: 'seo';
    src: url('./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'seo';
}
html, body{
    height: 100%;
    width: 100%;
    
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
    overflow: hidden;
    
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;

}
.nav-part2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #4e4d4d;
    border-radius: 50px;
    font-weight: 500;
    color: rgb(30, 28, 28);
    font-size: 18px;
    transition: all ease 0.4s;
    overflow: hidden;
    cursor: pointer;
}
.nav-part2 h4::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
    
}
.nav-part2 h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color: white;
}
#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    
}
#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    
}
#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;

}
#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    /* background-color: aqua; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
    right: 0;
    top: 65vh;
    /* filter: blur(20px); */

}
#hero-1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    

}
#hero-2{
    height: 30vw;
    width: 30vw;
    background-color: aqua;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
   

}
#hero-3{
    height: 100%;
    width: 100%;
    background: linear-gradient(#FE320A,#fe330af9);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    

}

@keyframes anime1{
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translateX(0%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5,-5%);
    }
    to{
        transform: translateX(-20%,20%);
    }
}